.descProduct {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-left: 120px;
}

.descProduct img {
    width: 436px;
    height: 555px;
    border-radius: 10px;
    margin-right: 54px;
}

.descProduct .product {
    display: flex;
    flex-direction: column;
}

.product .totalPrice {
    display: flex;
    flex-direction: row;
}

.descProduct .product h1 {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 66px;
    color: #BD0707;
}

.descProduct .product p {
    margin-bottom: 70px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #974A4A;
}

.totalPrice p {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #974A4A;
}

.totalPrice p:first-child {
    margin-right: 400px;
}

.descProduct .product button {
    width: 550px;
    height: 40px;
    background: #BD0707;
    border-radius: 5px;
    border: none;
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}