.products {
    margin-left: 120px;
    width: 1060px;
    height: 516px;
}

.productCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.products h1 {
    margin-bottom: 38px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 49px;
    color: #BD0707;
}

.card {
    height: 392px;
    background-color: #F7DADA;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    
}

.img img {
    margin-left: -1px;
    margin-top: -1px;
    width: 243px;
    height: 312px;
}

.productDesc h3 {
    margin-left: 16px;
    margin-top: 14px;
    margin-bottom: 6px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #BD0707;
}

.productDesc p {
    margin-left: 16px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #974A4A;
}