.register{
    width: 416px;
    height: 479px;
    border-radius: 10px;
    margin-left: 500px;
    margin-top: 100px;
}

.register form {
    display: flex;
    flex-direction: column;
}

.register form input {
    width: 362px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgba(224, 200, 200, 0.25);
    border: 2px solid #BD0707;
    padding-left: 6px;
}

.register form input::placeholder {
    font-family: avenir;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(104, 50, 50, 0.5);
}

.registerTitle {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 49px;
    font-weight: 900;
    font-family: avenir;
    color: #BD0707;
    margin-left: 20px;
}

.register form .btn {
    width: 361px;
    height: 50px;
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: #BD0707;
    color: white;
    font-family: avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    border: none;
}

.register form p {
    text-align: center;
}

.register form b {
    cursor: pointer;
}